<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="UTF-8">
    <title>Acfun - Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script rel="text/javascript" src="js/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">AfterClassFun</a>
        <ul class="nav">
          <li class="active"><a href="#">首页</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">待定</a></li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class = "nav pull-right">
          <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
          </form>
          <li><a href="#">消息</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">个人资料</a></li>
              <li><a href="#">界面风格</a></li>
              <li class="divider"></li>
              <li><a href="#">待定</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li><a href="#">注销</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav" ng-controller="TeacherCtrl">
            <ul class="nav nav-list">
            <p align="center"><img src="img/photo.jpg" alt=""></p>
            <li><p>                   </p></li>
              <li ng-repeat= "info in teacher_info">
                  <p class="muted">{{info.text}}</p>
              </li>    
            </ul>
          </div>
        </div>
        <div class="span10" ng-controller="TeacherCtrl">
          <div class="well sidebar-nav">
            <form ng-submit="addrole">
              <input type="text" ng-model="roleText"  size="30"
                     placeholder="Tell me who you are">
              <input class="btn" type="submit" value="add">
            </form>
            <p>{{roleText}}_Ctrl</p>
            <p>{{value}}</p>
          </div> 
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav"  ng-controller="TeacherCtrl">
            <ul class="nav nav-tabs nav-stacked">

              <li class="nav-header">{{teacher_Ctrl}}</li>
              <li ng-repeat= "function in teacher_func">
                <a href="#">{{function.text}}</a>
              </li>              

              <li class="nav-header">{{teacher_Arra}}</li>
              <li ng-repeat= "arrange in teacher_arr">
                <a href="#">{{arrange.text}}</a>
              </li>      
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>