<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Acfun - Login</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/register.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/login.css" media="screen">
  </head>
  <body>
  	<div class="container">
        <form class="form-signin">
          <h2 class="form-signin-heading">请登录您的账户</h2>
          <input type="text" class="input-block-level" placeholder="Email address">
          <input type="password" class="input-block-level" placeholder="Password">
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> 记住我
          </label>
          <label class=""><a href="#">忘记密码？</a></label>
          <button class="btn btn-large btn-primary" type="submit">登录</button>
          <button class="btn btn-large" type="submit">注册</button>
        </form>
    </div>
  </body>
</html>