<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <title>登录 &middot; AfterclassFun</title>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/stylesheets/app.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap-checkbox.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/javascripts/signup.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap-checkbox.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <form class="form-signin">
          <h2 class="form-signin-heading">登录到您的账户</h2>
          <input type="text" class="input-block-level" placeholder="Email address">
          <input type="password" class="input-block-level" placeholder="Password">
          <label class="checkbox">
            <input type="checkbox" value="remember-me" data-label="记住我">
          </label>
          <!-- <label class=""><a href="#">忘记密码？</a></label> -->
          <button class="btn btn-large btn-primary" type="submit">登录</button>
          <button class="btn btn-large" type="submit">注册</button>
        </form>
      </div>
    </div>
  </body>
</html>